# -----------------------------
# Python cache / compiled files
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual environment
# -----------------------------
venv/
env/
.venv/

# -----------------------------
# Jupyter Notebook checkpoints
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Dataset / data files
# -----------------------------
datasets/
data/
*.csv
*.zip
*.tgz

# -----------------------------
# IDE / Editor files
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db
# Dataset
datasets/
